
body {
    background-color:	#8A9A5B;
    background-attachment: fixed;
}
.heading1{
    color: black;
    font-size: 30px;
    text-align: center;
} 

.para1 {
    font-size: larger;
}

.top_section {
    display: flex;
    justify-content: space-around;
}

.heading3{
    color: black;
    font-size: 30px;
    text-align: center;
} 

.Gallery {
    display: flex;
    justify-content: space-evenly;
}

.img1 img {
    width: 300px;
    height: 300px;
}

.img2 img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.img3 img {
    width: 300px;
    height: 300px;
}

.img4 img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-left: 40px;
}